<head>
   <title>슬코생</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#fff" />
   <link rel="icon" href="/public/favicon.ico"/>
   <link rel="apple-touch-icon" href="/public/favicon-192x192.png"/>
   <link rel="manifest" href="/public/manifest.json" />
   <link rel="stylesheet" href="/css/common.css">
   <link rel="stylesheet" href="/css/layout.css">
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/assets/iconFont/xeicon.min.css">
   <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
      // const el = document.createElement('pwa-update');
      // document.body.appendChild(el);
   </script>
</head>
