<header id="header">
   <div class="container">
      <div class="flex_wrapper">
         <h1 class="logo">
            <a href="/">
               <img src="/assets/images/logo.png">
            </a>
         </h1>
         <!-- <ul id="nav">
            <li><a href="/" aria-current="page" class="active">코당</a></li>
            <li><a href="/jummechu">점메추</a></li>
            <li><a href="/notice">공지사항</a></li>
         </ul> -->
      </div>
      <!-- <ul id="user">
         <li>
            <button class="btn_alert">
               <img src="">
               <span class="alert">1</span>
            </button>
         </li>
         <li>
            <a class="profile" href="/">홍길동</a>
         </li>
         <li>
            <button class="btn_logOut">로그아웃</button>
         </li>
      </ul> -->
   </div>
</header>