<!DOCTYPE html>
<html>
   <%- include('./head') %>
   <body>
      <div id="wrap">
         <%- include('./header') %>
         <main id='main'>
            <div class='container'>
               <%- body %>
            </div>
         </main>
      </div>
   </body>
</html>